.navbar {
  width: 100%;
  height: 48px;
  line-height: 48px;
  background-color: #2e7499;
  text-align: left;
}

.nav-item {
  height: 100%;
  display: inline-block;
  padding: 0px 16px;
  vertical-align: bottom;
  text-decoration: none;
  border: none;
  background-color: #2e7499;
  color: #f2f2f2;
  font-size: 16px;
  font-family: "Arial";
  cursor: pointer;
}

.nav-item:hover {
  background: #0a1921;
}

.nav-item-focus {
  background: #0a1921;
}

.with-nav-content {
  width: 100%;
  height: calc(100% - 48px);
}

.with-nav {
  width: 100vw;
  height: 100vh;
}
