.sidebar-btn {
  font-size: 22px;
  padding: 0 12px;
}
.sidebar-btn:hover {
  text-decoration: underline;
}

.icon-btn {
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: #f2f2f2;
  font-size: 16px;
  font-family: 'Arial';
  outline: none;
  cursor: default;
}

.icon-btn:hover {
  cursor: pointer;
}

.left {
  float: left;
}

.right {
  float: right;
}

#player-selection {
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #2e7499;
  color: #d5e8f2;
}

tr.active {
  background-color: #d5e8f2;
  color: #292b34;
}

tr.inactive {
  background-color: #d5e8f2;
  color: transparent;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
